@charset "UTF-8";

html {
    font-size: 100%;
    margin: 0;
}

header {
  position: relative;
  background-color: #333;
  height: 4rem;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

h1 {
  position: absolute;
  top: 0.25rem;
  left: 2rem;
  font-size: 1.25rem;
  color: white;
}

.navButton {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
  z-index: 999;
}

.navButton-line {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #BBB;
  transition: ease .5s;
}

.navButton-line:nth-child(1) { top: 0; }
.navButton-line:nth-child(2) { margin: 8px 0; }
.navButton-line:nth-child(3) { top: 0; }

.navButton.isOpen .navButton-line:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.navButton.isOpen .navButton-line:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.navButton.isOpen .navButton-line:nth-child(3) {
  top: -10px;
  transform: rotate(-135deg);
}

nav{
  position: relative;
}

.mmain-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(64,64,64,.7);
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
}

.main-nav li {
  height: 3rem;
  border-bottom: solid 1px #AAA;
}

.main-nav a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  color: #FFF;
}

.main-nav a:hover {
  background-color: #222;
}


body {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

/********* container ***********/

#home{
  position: relative;
  background-image: url(../images/13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  min-height: 100vh;
}

#home .page-title{
  text-transform: none;
}

.big-bg{
  background-size: cover;

}

/********* main ***********/

main {
  display: flex;
  flex-direction: row;
}

section {
  flex:3;
  padding: 3rem;
}

section article {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  opacity: 0.8;
}

aside {
  flex:1;
  padding: 3rem;
}

aside article {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: white;
  opacity: 0.8;
}


/********* footer ***********/

footer{
 position: absolute;
 padding-top: 36rem;
 padding-left: 55rem;
 width: auto;
 display: flex;
}

footer div{
  background-color: #999999
  top: 700px;
  height: 20px
}


.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  padding: 1rem 2.5%;
  background-color: gray;
}

.main-nav {
  float: right;
  margin-right: 4rem;
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 0px;
  /* UI Properties */
  /* background: #565656 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1; */
}

.main-nav ul{
  display:flex;
}

.main-nav li {
  list-style-type: none;
  margin-left: 2rem;
}

.main-nav a {
  color: #423;
}

.main-nav a:hover{
  color: #0bd;
}


.copy-right {
  top: 1rem;
  left:4rem;
  bottom: 0;
}
